<h2><%= @article.title %></h2>
<p><%= @article.content %></p>


<%= link_to "Edit article", edit_article_path %>

<%= link_to "Delete article", article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %>

<%= link_to "Back to homepage", articles_path %>
